<h1>Phones</h1>
<div>
  <p>
    <span>-------------------------------------------------------</span>
  </p>
  <%= link_to 'Show Client', [@client], class:"btn btn-primary" %>
  <%= link_to "New phone", new_client_phone_path, class:"btn btn-success" %>
  <p>
    <span>-------------------------------------------------------</span>
  </p>
</div>
<br>
<div id="phones">
  <% @client.phones.each do |phone| %>
    <%= render phone %>
    <p>
      <%= link_to "Show this phone", client_phone_path(@client,phone), class:"btn btn-info"  %>
    </p>
    <span>-------------------------------------------------------</span>
  <% end %>
</div>
