<div class="d-flex">
  <%= link_to "Regresar", client_path(@client), class:"btn btn-primary" %>
</div>
<br>
<br>
<%= render @phone %>
<br>
<br>
<div class="d-flex">
  <%= link_to "Editar", edit_client_phone_path(@client), class:"btn btn-success" %>
  <%= button_to [@client,@phone], method: :delete, :onclick => "return confirm('Desea eliminar este teléfono de manera permanente')", class:"btn btn-danger" do%>
    <span class="tx-bold">Eliminar</span>
  <% end %>
</div>
