<div class="bd rounded pd-10">
  <h1 class="tx-bold d-flex justify-content-center">CONTRATOS</h1>
  <div class="row d-flex justify-content-end m-3">
    <div class="d-flex align-items-center">
      <%= link_to new_contract_path, class:"btn btn-success tx-11 tx-uppercase tx-spacing tx-bold bd d-flex align-items-center pd-15" do%>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div id="contracts" class="bd bd-gray-300 rounded table-responsive">
    <table class="table table-bordered mg-b-0">
      <thead>
        <tr>
          <th class="bg-info"><span class="tx-white">ID</span></th>
          <th class="bg-info"><span class="tx-white">Cliente</span></th>
          <th class="bg-info"><span class="tx-white">Lotes</span></th>
          <th class="bg-info"><span class="tx-white">Pagos totales</span></th>
          <th class="bg-info"><span class="tx-white">Siguiente Pago</span></th>
          <th class="bg-info"><span class="tx-white">Monto Total</span></th>
          <th class="bg-info"><span class="tx-white">Enganche</span></th>
          <th class="bg-info"><span class="tx-white">Total pagado</span></th>
          <th class="bg-info"><span class="tx-white">Adeudo total</span></th>
          <th class="bg-info"><span class="tx-white">Plano entregado</span></th>
          <th class="bg-info"><span class="tx-white">Opciones</span></th>
        </tr>
      </thead>
      <tbody>
        <% @contracts.each do |contract| %>
          <tr>
            <%=render "contracts/contract_index_table", contract:contract %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <%=render "layouts/pagy/pagy"%>
  </div>
</div>
