<h1>Contracts</h1>
<div class="row">
  <div class="d-flex align-items-baseline ml-3">
    <div>
      <%= link_to "New contract", new_contract_path, class:"btn btn-info tx-11 pd-y-12 tx-uppercase tx-spacing-2 mb-3" %>
    </div>
  </div>
</div>
<div id="contracts" class="bd bd-gray-300 rounded table-responsive">
  <table class="table table-bordered mg-b-0">
    <thead>
      <tr>
        <th class="bg-info">ID</th>
        <th class="bg-info">Client</th>
        <th class="bg-info">Batches</th>
        <th class="bg-info">Total Amount</th>
        <th class="bg-info">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <%=render "contracts/contract_index_table", contract:contract %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
