<div class="bd rounded pd-10">
  <h1 class="tx-bold d-flex justify-content-center">CONTRACTS</h1>
  <div class="row d-flex justify-content-end m-3">
    <div class="d-flex align-items-center">
      <%= link_to new_contract_path, class:"btn btn-success tx-11 tx-uppercase tx-spacing tx-bold bd d-flex align-items-center pd-15" do%>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div id="contracts" class="bd bd-gray-300 rounded table-responsive">
    <table class="table table-bordered mg-b-0">
      <thead>
        <tr>
          <th class="bg-info">ID</th>
          <th class="bg-info">Client</th>
          <th class="bg-info">Batches</th>
          <th class="bg-info">Total Amount</th>
          <th class="bg-info">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @contracts.each do |contract| %>
          <tr>
            <%=render "contracts/contract_index_table", contract:contract %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="pd-10 mg-t-20 bg-info d-lg-flex">
  <div class="d-lg-flex align-items-center" role="tablist">
    <h5 class="tx-white m-2 tx-bold" >Contracts</h5>
  </div>
</div>
