<div class="pd-10 mg-t-20 bg-info d-lg-flex justify-content-between">
  <div class="d-lg-flex align-items-center" role="tablist">
    <h5 class="tx-white m-2 tx-bold" >Contract</h5>
  </div>
  <div class="d-flex">
    <%= link_to contracts_path, class:"btn btn-primary" do%>
      <div class="tx-white m-2 tx-bold">Back to contracts list</div>
    <% end %>
    <div class="btn-group ">
      <button type="button" class="btn btn-teal btn-block mg-b-10
 dropdown-toggle tx-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <%= link_to edit_contract_path(@contract), class:"" do%>
            <span class="tx-bold">Edit this contract</span>
          <% end %>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">
          <%= button_to @contract, method: :delete, class:"btn btn-danger btn-block mg-b-10" do%>
            <span class="tx-bold">Destroy</span>
          <% end %>
        </div >
      </div>
    </div>
  </div>
</div>
<div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
  <%= render @contract %>
  <br>
  <br>
</div>
