<div class="card card-body bg-primary tx-white bd-0">
  <p class="card-text ">
    <h5 class="d-flex justify-content-center">
      Welcome!! &nbsp; <span class="tx-bold tx-success d-flex justify-content-center""><%=current_user.email%></span>
    </h5>
  </p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
