    <!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">   <%= link_to root_path, class: "" do %>
    <span>[</span>
    <span class="">Inicio</span>
    <span>]</span>
  <% end %>
</div>
<div class="br-sideleft overflow-y-auto">
  <label class="sidebar-label pd-x-15 mg-t-20">Opciones</label>
  <div class="br-sideleft-menu">
    <%= link_to clients_path, class: "br-menu-link" do %>
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
        <span class="menu-item-label">Clientes</span>
      </div>
    <% end %>
    <%= link_to batches_path, class: "br-menu-link" do %>
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
        <span class="menu-item-label">Lotes</span>
      </div>
    <% end %>
    <a href="#" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
        <span class="menu-item-label">Example</span>
        <i class="menu-item-arrow fa fa-angle-down"></i>
      </div>
      <!-- menu-item -->
    </a><!-- br-menu-link -->
    <ul class="br-menu-sub nav flex-column">
      <li class="nav-item"><a href="accordion.html" class="nav-link">Ex1</a></li>
      <li class="nav-item"><a href="alerts.html" class="nav-link">Ex2</a></li>
      <li class="nav-item"><a href="buttons.html" class="nav-link">Ex3</a></li>
    </ul>
    <ul class="br-menu-sub nav flex-column">
      <li class="nav-item"><a href="navigation.html" class="nav-link">Basic Nav</a></li>
      <li class="nav-item"><a href="navigation-layouts.html" class="nav-link">Nav Layouts</a></li>
    </ul>
  </div>
  <!-- br-sideleft-menu -->
</div>
<!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->
