      <!-- dropdown -->
<div class="dropdown">
  <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
    <i class="icon ion-ios-bell-outline tx-24"></i>
    <!-- start: if statement -->
    <% if @notifications %>
      <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
    <% end %>
    <!-- end: if statement -->
  </a>
  <div class="dropdown-menu dropdown-menu-header wd-300 pd-0-force">
    <div class="d-flex align-items-center justify-content-between pd-y-10 pd-x-20 bd-b bd-gray-200">
      <label class="tx-12 tx-info tx-uppercase tx-semibold tx-spacing-2 mg-b-0">Pagos vencidos</label>
    </div>
    <!-- d-flex -->
    <div class="media-list">
      <% @notifications.each do |notification| %>
        <%=render "/layouts/menu_partials/notification", notification:notification%>
      <% end %>
    </div>
    <!-- media-list -->
  </div>
  <!-- dropdown-menu -->
</div>
