<h1>Addresses</h1>
<div>
  <p>
    <span>-------------------------------------------------------</span>
  </p>
  <%= link_to 'Show Client', [@client], class:"btn btn-primary" %>
  <%= link_to "New address", new_client_address_path, class:"btn btn-success" %>
  <p>
    <span>-------------------------------------------------------</span>
  </p>
</div>
<br>
<div id="addresses">
  <% @client.addresses.each do |address| %>
    <%= render address %>
    <p>
      <%= link_to "Show this address", client_address_path(@client,address), class:"btn btn-info"  %>
    </p>
    <span>-------------------------------------------------------</span>
  <% end %>
</div>
