<div class="bd rounded pd-10">
  <h1 class="tx-bold d-flex justify-content-center">LOTES</h1>
  <div class="row d-flex justify-content-end m-3">
    <div class="d-flex align-items-center">
      <%= link_to new_batch_path, class:"btn btn-success tx-11 tx-uppercase tx-spacing tx-bold bd d-flex align-items-center pd-15
" do%>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div id="batches" class="bd bd-gray-300 rounded table-responsive">
    <table class="table table-bordered mg-b-0">
      <thead>
        <tr>
          <th class="bg-info">Identificador</th>
          <th class="bg-info">Precio</th>
          <th class="bg-info">Manzana</th>
          <th class="bg-info">Lote</th>
          <th class="bg-info">Estado</th>
          <th class="bg-info">Contrato</th>
          <th class="bg-info">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @batches.each do |batch| %>
          <tr>
            <%=render "batches/batch_index_table", batch:batch %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
